h1,h2,h3 {
  color:white;
  font-family:"Kanit","Lucida Sans Unicode"; 
}
p,li,td{
  color:white;
  font-family:"Lucida Sans Unicode";
}
td.main_content{
  border-radius: 1em;
  text-align: center;
  background-color: #b2d136;
  margin-left:auto; 
  margin-right:auto;
  width: 30%;
}	
table.navigation{
  border-spacing: 1em;
  margin-left:auto; 
  margin-right:auto;
  width: 50%;
}
table.info_table_content{
  width: 28%;
  margin: 1em;
  float: left;
  border-radius: 1em;
  text-align: center;
  background-color: #b2d136;
}
table.gecko_content{
  margin: 1em;
  float: left;
  border-radius: 1em;
  text-align: center;
  background-color: #b2d136;
}
td.gecko_content{
  vertical-align: top;
}
td.gecko_info_content{
  text-align: left;
  vertical-align: top;
}
img{
  border-radius: 1em;
}
a{
  color: white;
}
body {
  background-image: url("images/Gecko_bg.jpg"); 
}